# Ignore compiled files
*.class
*.jar

# Ignore logs and temporary files
logs/
temp/

# Ignore IDE-specific files and directories
.idea/
.vscode/

# Ignore operating system-specific files
.DS_Store
Thumbs.db

# Ignore Node.js modules
node_modules/

.env